{% extends 'layout.html'%}
{%block body%}
    

<nav class="navbar navbar-expand-lg navbar-light bg-light">
 
    
<!--  1 -->

<div class="nav-item">
 
      <form>
        <a class = "btn btn-success btn-block" href="/verclientes">Ver Clientes</a>
        
      </form>

  </div>

  <div class="nav-item">
   
        <form action="/profile" method="POST">
            <a href = "/gestionar"  class = "btn btn-dark btn-block">Gestionar vendedores</a>
        </form>
   
    </div>
 
    <div class="nav-item">
    
          <form action="/profile" method="POST">
              <a href = "/vistaeditar"  class = "btn btn-warning btn-block">Editar Productos</a>
          </form>
    
      </div>

      <div class="nav-item">
       
            <form action="/profile" method="POST">
              <a href = "/facturas"  class = "btn btn-info btn-block">Facturas</a>
            </form>

        </div>


        <div class="nav-item">
      
            <form action="/profile" method="POST">
                <input type ="submit" name = 'log_out' value = 'salir' class = "btn btn-danger btn-block"></input>
            </form>
  
        </div>
      </ul>
    </div>
  </nav>  



  {%endblock%}