{% extends 'layout.html'%}
{%block body%}
    

<nav class="navbar navbar-expand-lg navbar-light bg-light">
 
    
<!--  1 -->

  <div class="nav-item">
   
        <form action="/profile" method="POST">
            <a href = "/gestionar"  class = "btn btn-dark btn-block">Gestionar vendedores</a>
        </form>
   
    </div>
 
    <div class="nav-item">
    
          <form action="/profile" method="POST">
              <a href = "/vistaeditar"  class = "btn btn-warning btn-block">Editar Productos</a>
          </form>
    
      </div>

      <div class="nav-item">
       
            <form action="/profile" method="POST">
              <a href = "/facturas"  class = "btn btn-info btn-block">Facturas</a>
            </form>

        </div>


        <div class="nav-item">
      
            <form action="/profile" method="POST">
                <input type ="submit" name = 'log_out' value = 'salir' class = "btn btn-danger btn-block"></input>
            </form>
  
        </div>
      </ul>
    </div>
  </nav>  

<nav><p></p></nav>


  <div class="col-md7">
  <table class="table table-striped table-botdered bg-white table-sm">
    <thead>
      <tr>
        <td><h3>Nombre</h3></td>
        <td><h3>Cedula</h3></td>
        <td><h3>Direccion</h3></td>
        <td><h3>Telefono</h3></td>
      </tr>
    </thead>
    
{% for i in cliente %}
    <tbody>       
      <tr>
        <td><h5>{{i.1}}</h5></td>
        <td><h5>{{i.2}}</h5></td>
        <td><h5>{{i.3}}</h5></td>
        <td><h5>{{i.4}}</h5></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>  
  <table  class="table table-striped table-botdered bg-white table-sm">

</table> 

</div>




  {%endblock%}